* {
  font-family: monospace;
}

p1{
  font-style: italic;
  color:blue;
  font-size: 100px;
}
p2{
  font-style: normal;
  color:red;
  font-size: 50px;
}
body{
  background-image: url("images/cursedwateringcan.png");
  background-repeat: repeat;
}

#insaneDiv{
  background-color:ghostwhite;
  padding: 20px;
  margin: 60px;
  text-align: center;
}